sudo: false
language: cpp

matrix:
  include:

  # Ubuntu, g++-8
  - os: linux
    dist: trusty
    compiler: gcc
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
          - libboost1.55-all-dev
          - libssl-dev
          - g++-8
          - gcc-8
    env:
    - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
    - LABEL="linux"
    - RELEASE_FILENAME="violetminer-linux"
    - RELEASE_FILETYPE="tar.gz"
    - _DEPLOYABLE="true"

  # Ubuntu, clang-6
  - os: linux
    dist: trusty
    compiler: clang
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-trusty-6.0
        packages:
          - libboost1.55-all-dev
          - libssl-dev
          - clang-6.0
          - libstdc++-7-dev
    env:
    - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
    - LABEL="linux-clang-6"
    - RELEASE_FILENAME="violetminer-linux"
    - RELEASE_FILETYPE="tar.gz"

  # OSX, clang
  - os: osx
    osx_image: xcode10
    compiler: clang
    env:
    - LABEL="osx"
    - RELEASE_FILENAME="violetminer-osx"
    - RELEASE_FILETYPE="tar.gz"
    - _DEPLOYABLE="true"
    install:
    # Need to make sure that we have openssl installed
    - travis_retry brew install openssl || travis_retry brew upgrade openssl
    - brew link --force openssl
    - ln -s /usr/local/opt/openssl/include/openssl /usr/local/include

  # Arm (aarch64) cross compile
  - os: linux
    env:
    - MATRIX_EVAL="CC=aarch64-linux-gnu-gcc && CXX=aarch64-linux-gnu-g++"
    - LABEL="aarch64"
    - RELEASE_FILENAME="violetminer-armv8"
    - RELEASE_FILETYPE="tar.gz"
    - _DEPLOYABLE="true"

  # Windows, MSVC
  - os: windows
    env:
    - LABEL="windows"
    - MSBUILD_PATH="/C/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/MSBuild/15.0/Bin"
    - RELEASE_FILENAME="violetminer-win64"
    - RELEASE_FILETYPE="zip"
    - _DEPLOYABLE="true"
    script:
    - mkdir build && cd build
    - export PATH=$MSBUILD_PATH:$PATH
    - ../scripts/win-install.bat
    - mkdir $RELEASE_FILENAME
    - copy violetminer.exe $RELEASE_FILENAME
    - 7z a $RELEASE_FILENAME.$RELEASE_FILETYPE $RELEASE_FILENAME

before_install:
- eval $MATRIX_EVAL

script:
- eval $MATRIX_EVAL
# If we're cross compiling aarch64, make sure our build enivornment is setup
# we do this in the script stage because this happens after the repo is cloned
- if [[ "$LABEL" == "aarch64" ]]; then source scripts/prep-aarch64.sh ; fi
- mkdir build && cd build
- cmake -DCMAKE_BUILD_TYPE=Release ..
- make -j2
- if [[ "$LABEL" != "aarch64" ]]; then ./argon2-cpp-test ; fi
- mkdir $RELEASE_FILENAME
- mv violetminer $RELEASE_FILENAME
- tar cvfz $RELEASE_FILENAME.tar.gz $RELEASE_FILENAME

deploy:
    - provider: releases
      api_key: $GITHUB_TOKEN
      file: build/${RELEASE_FILENAME}.${RELEASE_FILETYPE}
      skip_cleanup: true
      on:
        tags: true
        condition: "$_DEPLOYABLE = true"
